.Credential {
	display: flex;
	flex-direction: column;
}

.Credential-row {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}

.Credential-row.cred {
	order: 1;
}

.Credential-row.source {
	order: 2;
}

.Credential-row.cred .name {
	font-size: larger;
}
