.ContactInfo {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.ContactInfo-name {
	font-size: 48pt;
}

.ContactInfo-bio {
	margin-bottom: 10px;
	width: 75%;
}

.ContactInfo-contact {
	display: flex;
	justify-content: space-between;
	width: 60%;
}
